{% block content %} 

	<div class="row">
	
      <div class="large-12 columns text-center">
        <div class="logo-holder">
          <img src="assets/image/mh-logo.svg" />
        </div>
        <h1>.marchumphries</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-8 medium-8 columns">
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div>
              <p>Banner Code Pen
              <p><a href="http://codepen.io/anon/pen/bzksu" />http://codepen.io/anon/pen/bzksu</a></p>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div>
              <p>Six columns</p>
            </div>
          </div>
        </div>     
      </div>     

      <div class="large-4 medium-4 columns">
        <h5>Get more</h5>
        <a href="#">A link</a>           
      </div>
      
    </div>
{% endblock %}