{% block content %}  

<div class="row">
	<div class="large-12 columns text-center">
		
		<div class="logo-holder">
			<img src="assets/image/mh-logo.svg" />
		</div>
		
		<h1>.marchumphries</h1>
		<h2 class="smaller">{webdesign}</h2>
		
	</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<div class="header_banner">
		
			<div class="header-block">
				<img src="/public/assets/insurance/travel/optional-excess-icon.svg" alt="" class="vertically-centered">
				<div class="vertically-centered content">
					<h3>Page header in here</h3>
					<p>Load of content could be added in and it will just centre and reposition.</p>
					<a href="#">Apply now</a>
				</div>
			</div>
			
		</div>
		
	</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<h2>Freelance web designer, developer and digital brand consultant</h2>
	</div>
</div>

{% endblock %}