{% block content %}  

<div class="row">
	<div class="large-12 columns text-center">
		
		<div class="logo-holder">
			<img src="assets/image/mh-logo.svg" />
		</div>
		
		<h1>.marchumphries</h1>
		<h4 class="smaller">{design: website, branding}</h4>
		
	</div>
</div>

<div class="row row-border margin-top-30">
	<div class="large-12 columns text-center column__full-width">
		<div class="header-banner">
		
			<div class="header-banner__container"> 
				<div class="crop">
				<img class="banner-image" src="assets/image/ns_macbook.jpg" />
				</div>
			</div>
			
			<div class="header-block">
				<img src="/public/assets/insurance/travel/optional-excess-icon.svg" alt="" class="vertically-centered vc">
				<div class="vertically-centered content">
					<h3>Nelson Street Restaurant</h3>
					<p>Site design and branding</p>
					<a href="#">Find out more</a>
				</div>
			</div>
			
		</div>
			
		</div>
	</div>
</div>

<div class="row margin-top-30">
	<div class="large-12 columns text-center">
		<h2>Freelance web designer, developer and digital brand consultant</h2>
		<a href="#">View all services</a>
	</div>
</div>

<div class="row row-black margin-top-30 row-padding">
	<div class="large-12 columns text-center">
		<h4>.contact-me { email: me@marchumphries.co.uk; phone: #07976 574 042; }</h4>
	</div>
</div>

{% endblock %}